<p id="notice"><%= notice %></p>

<h1>Auths</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auths.each do |auth| %>
      <tr>
        <td><%= auth.name %></td>
        <td><%= auth.email %></td>
        <td><%= link_to 'Show', auth %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth', new_auth_path %>
