<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auth.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @auth.email %>
</p>

<%= link_to 'Show', auths_path %>
<%= link_to 'Back', tuto08_auth_path %>
