<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div style="width:500px">
<%= column_chart @data, xtitle: "Time" %>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users', tuto12_home_path %>
